# W4 - Python data types assignment

# 1. Print word `python` in reverse order

In [90]:
word = 'python'
word[-1::-1]

'nohtyp'

# 2. Define variables `apples` and `oranges` and using `format` methos print following string:
>I have **7** apples and **5** oranges, therefore I have **12** fruits.`

In [91]:
apples = 7
oranges = 5
print('I have {0} apples and {1} ornges, therefore I have {2} fruits.'
     .format(apples,oranges,(apples + oranges)))

I have 7 apples and 5 ornges, therefore I have 12 fruits.

# 3. Convert list of characters (`['a', 'b', 'c', 'd']`) to string (`'abc'`)

In [92]:
letters = ['a','b','c','d']
del letters[3]
word = ''.join(letters)
print(word)

abc

# 4. Get difference betweet two lists (e.g. `[1, 2, 3, 4, 8, 12]` and `[1, 4, 8, 2]`)

In [93]:
numbers1 = [1,2,3,4,8,12]
numbers2 = [1,4,8,2]
set(numbers1).difference(set(numbers2))

{3, 12}

# 5. Add an item to a tuple
```python
tuple_numbers = (4, 6, 2, 8, 3, 1) 
```

In [94]:
tuple_numbers = (4, 6, 2, 8, 3, 1)
tuple_numbers = tuple_numbers + (7,)
print(tuple_numbers)

(4, 6, 2, 8, 3, 1, 7)

# 6. Convert a tuple to a string
```python
input_tuple = ('p', 'y', 't', 'h', 'o', 'n')
output_string = 'python'
```

In [95]:
input_tuple = ('p', 'y', 't', 'h', 'o', 'n')
output_string = ''.join(list(input_tuple))
print(output_string)

python

# 7. Combine two dictionaries into one

```python
names1 = {'Jack': 25, 'John': 26, 'Emily': 23}
names2 = {'Carol': 28, 'Walter': 22}
```

In [96]:
names1 = {'Jack': 25, 'John': 26, 'Emily': 23}
names2 = {'Carol': 28, 'Walter': 22}
names1.update(names2)
print(names1)

{'Jack': 25, 'John': 26, 'Emily': 23, 'Carol': 28, 'Walter': 22}

# 8. Sum all the items in a dictionary
```python
ice_cream_price = {'Chocolate': 200, 'Strawberry': 188, 'Vanilla': 175, 'Caramel': 180}
```

In [97]:
ice_cream_price = {'Chocolate': 200, 'Strawberry': 188,
                   'Vanilla': 175, 'Caramel': 180}
print(sum(ice_cream_price.values()))

743

# 9. Remove item(s) from set. Can you gess which item will be removed?
```python
set_numbers = {1, 2, 3, 4, 5}
set_letters = {'p', 'y', 't', 'h', 'o', 'n'}
```

In [98]:
set_numbers = {1, 2, 3, 4, 5}
set_letters = {'p', 'y', 't', 'h', 'o', 'n'}
''' Because set is not indexed we should use the remove()
method where we scecify, as an argument, which element
to remove and if the element does not exist a keyError
exception is thrown. '''
set_numbers.remove()
set_letters.remove()
'If no argument is specified, it will cause a typeError error'

TypeError: remove() takes exactly one argument (0 given)

# 10. split list into 3 different variables 
```python
color = [
    ("Black", "#000000", "rgb(0, 0, 0)"), 
    ("Red", "#FF0000", "rgb(255, 0, 0)"), 
    ("Yellow", "#FFFF00", "rgb(255, 255, 0)")
]
```

In [99]:
color = [
    ("Black", "#000000", "rgb(0, 0, 0)"), 
    ("Red", "#FF0000", "rgb(255, 0, 0)"), 
    ("Yellow", "#FFFF00", "rgb(255, 255, 0)")
]
black = color[0]
red = color[1]
yellow = color[2]
print(black)
print(red)
print(yellow)

('Black', '#000000', 'rgb(0, 0, 0)')
('Red', '#FF0000', 'rgb(255, 0, 0)')
('Yellow', '#FFFF00', 'rgb(255, 255, 0)')

# BONUS: test whether every element of first set is in second set ans vice versa using using relational operators
```python
set_a = set(['Chocolate', 'Strawberry', 'Vanilla', 'Caramel'])
set_b = set(['Vanilla', 'Caramel','Chocolate', 'Strawberry'])
set_c = set(['Chocolate'])
```

In [100]:
set_a = set(['Chocolate', 'Strawberry', 'Vanilla', 'Caramel'])
set_b = set(['Vanilla', 'Caramel','Chocolate', 'Strawberry'])
set_c = set(['Chocolate'])
print(set_a == set_b)
print(set_a == set_c)
print(set_b == set_a)
print(set_b == set_c)
print(set_c == set_a)
print(set_c == set_b)

True
False
True
False
False
False