Python Training 2

Lecture 1

In [1]:
x = 1
>>> if x > 2:
    print('x is more than 2')
print('I have no idea what value does x have')

I have no idea what value does x have

In [3]:
if x > 2:
    print('x is more than 2')
    print('I have no idea what value does x have')
print("seriously, I don't know")

seriously, I don't know

In [6]:
x = int(input('Type number: ')) # input function reads a line 
#from input (keyboard) and converts the line into a string

# int function converts number to integer

if x % 2 == 0:
    print(x, 'is even')
else:
    print(x, 'is odd')

Type number: 12
12 is even

In [15]:
names_list = ['Jiri', 'Jan', 'Marie', 'Petr',
              'Jana', 'Josef', 'Pavel', 'Martin',
              'Jaroslav', 'Tomas', 'Eva', 'Miroslav',
              'Hana', 'Anna', 'Zdenek', 'Frantisek',
              'Vaclav', 'Michal', 'Lenka', 'Katerina']
user_name = input('Write your name: ')
if user_name in names_list:
    print("You're in the list bro")
else:
    print("I'm sorry bro")

Write your name: Petr
You're in the list bro

In [30]:
list1 = list(range(5))
nr_multiply = [(str(x*x) + ' is my favorite number!') for x in list1]
print(nr_multiply)

['0 is my favorite number!', '1 is my favorite number!', '4 is my favorite number!', '9 is my favorite number!', '16 is my favorite number!']

In [48]:
seq = 'ACTGCTCAAG'
pos_A = [x for x in range(len(seq)) if 'A' == seq[x]]
print(pos_A)

[0, 7, 8]

In [8]:
seq = 'ACTGCTCAAG'
[pos for pos,x in enumerate(seq) if 'A' == x]
print(pos_A)

[0, 7, 8]

Lecture 2

In [19]:
fruits = ['apple', 'mango', 'banana','cherry']
{f:len(f) for f in fruits}

{'apple': 5, 'mango': 5, 'banana': 6, 'cherry': 6}

In [34]:
scores = {'John' : 10, 'Emily' : 35, 'Matthew' : 50}
{name:x*3 for name,x in scores.items()}

{'John': 30, 'Emily': 105, 'Matthew': 150}

In [36]:
n = int(input())
while n > 0:
    print(n)
    n = n-1
print('COOL')

14
14
13
12
11
10
9
8
7
6
5
4
3
2
1
COOL

In [50]:
d = {'a':'alfa', 'b':'bravo', 'c':'charlie', 'd':'delta',
     'e':'echo', 'f':'foxtrot', 'g':'golf', 'h':'hotel',
     'i':'india', 'j':'juliett', 'k':'kilo', 'l':'lima',
     'm':'mike', 'n':'november', 'o':'oscar', 'p':'papa',
     'q':'quebec', 'r':'romeo', 's':'sierra', 't':'tango',
     'u':'uniform', 'v':'victor', 'w':'whiskey', 'x':'x-ray',
     'y':'yankee', 'z':'zulu'}
name = input('Write your name: ').lower()
for name_letter in name:
    for letter,spelling in d.items():
        if name_letter == letter:
            print(spelling)
print()
for letter in name:
    print(d[letter])

Write your name: Virgiliu
victor
india
romeo
golf
india
lima
india
uniform

victor
india
romeo
golf
india
lima
india
uniform

In [102]:
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
b = [list(i) for i in zip(*a)]
print(b)

b = []
for i in zip(*a):
    b.append((list(i)))
print(b)

b = [[0 for i in a] for i in a[0]]
for i in range(len(a)):
    for j in range(len(a[i])):
        b[i][j] = a[j][i]
print(b)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [113]:
shopping = ['car', 'house', 'games', 'food', 'drinks']
new_item = input('Write an item:\n')
for item in shopping:
    if new_item == item:
        print(new_item)
        break
    else: 
        shopping.append(new_item)
        print('It is not in the list\nNew list:')
        print(shopping)
        break

Write an item:
books
It is not in the list
New list:
['car', 'house', 'games', 'food', 'drinks', 'books']

In [139]:
for i in range(1999, 3201):
    if i % 7 == 0:
        if not i % 5 == 0:
            print(i, end=', ', flush=True)

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199,