# W5 - Python conditions and loops assignment

# 1. Using for loop, create nested list from dictionary, see example
```python
fruits = {'banana':3,'apple':2, 'mango':1, 'kiwi':5}
fruits_list = [['banana', 'banana', 'banana'], ['apple', 'apple'], ['mango'], ['kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi']]
```

In [1]:
fruits = {'banana':3,'apple':2, 'mango':1, 'kiwi':5}
fruits_list = [[fr]*val for fr,val in fruits.items()]
print(fruits_list)

[['banana', 'banana', 'banana'], ['apple', 'apple'], ['mango'], ['kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi']]

# 2. Select the shortest element from the list
```python
fruits = ['banana','apple', 'mango', 'kiwi']
shortest_fruit = 'kiwi'
```

In [2]:
fruits = ['banana','apple', 'mango', 'kiwi']
shortest_fruit = fruits[0]
for word in fruits:
    if len(word) < len(shortest_fruit):
        shortest_fruit = word
print(shortest_fruit)

kiwi

# 3. Using loops and conditions, count occurrence of numbers, letters and other symbols in the string
Example
```python
'''What a to do to die today at a 1/4 or 2 to 2. 
A terrible difficult thing to say but a harder thing still to do. 
The dragon will come at the beat of the drum with a rat-tat-tat-tat-tat-tattoo 
at a 1/4 or 2 to 2 today, at a 1/4 or 2 to 2.'''
Number occurence: 12
Letter occurence: 158
Other symbols: 66
```

In [3]:
import string
numbers = list(string.digits)
letters = list(string.ascii_letters)
symbols = list(string.punctuation)
symbols.append(' ')
text = '''What a to do to die today at a 1/4 or 2 to 2. 
A terrible difficult thing to say but a harder thing still to do. 
The dragon will come at the beat of the drum with a rat-tat-tat-tat-tat-tattoo 
at a 1/4 or 2 to 2 today, at a 1/4 or 2 to 2.'''
n=0
l=0
s=0
for elem in text:
    for nr in numbers:
        if elem == nr:
            n += 1
    for lt in letters:
        if elem == lt:
            l += 1
    for sm in symbols:
        if elem == sm:
            s += 1
print('''Number occurence: {0}
Letter occurence: {1}
Other symbols: {2}
'''.format(n,l,s))

Number occurence: 12
Letter occurence: 158
Other symbols: 66

# 4. Calculate dog's age in human years using [this article](https://pets.webmd.com/dogs/how-to-calculate-your-dogs-age)
*Note: for simplicity, use values for medium dogs*

In [4]:
converted_age = [15, 24, 18, 32, 36, 42, 47, 51, 56, 60, 65, 69, 74, 
                78, 83, 87]
dog_age = int(input("Enter dog's age: "))
for nr, val in enumerate(converted_age, start = 1):
    if dog_age == nr:
        print("Dog's age in human years is: ", val)

Enter dog's age: 7
Dog's age in human years is:  47

# 5. Count the number of even and odd numbers from a series of numbers.
```python
seq = [1,44,30,15,2,18]
```
Odd numbers: 2
Even numbers: 4

In [5]:
seq = [1,44,30,15,2,18]
odd = 0
even = 0
for nr in seq:
    if nr % 2 == 1:
        odd += 1
    else:
        even += 1
print('Odd numbers: {0}\nEven numbers: {1}'.format(odd,even))

Odd numbers: 2
Even numbers: 4

# 6. Using loops, print following pattern
```
*
**
***
****
```

In [6]:
star = '*'
for nr in range(0,4):
    print(star)
    star = star + '*'

*
**
***
****

# 7. Using list comprehensions, transform all vowels within the string to upper case

example `python -> pYthOn`

In [7]:
vowels = 'aeiouy'
text = 'python'
seq = list(text)
for i,v in enumerate(seq):
    for j in vowels:
        if v == j:
            seq[i] = j.upper()
print(''.join(seq))

pYthOn

# 8. Print position number of the letter
1. Ask user to type letter (just one)
2. Print position of the letter in the alphabet

Example
```
Type letter: B
Letter B position is 2.
```

In [8]:
import string
alphabet = list(string.ascii_uppercase)
letter = input('Type a letter: ')
for i,val in enumerate(alphabet, start = 1):
    if letter == val:
        print('Letter {0} in in position {1}.'.format(val,i))
        break

Type a letter: V
Letter V in in position 22.

# 9. Find the median of three values (do not used median function)
Ask user to input 3 values
Example
```
Type number:5
Type number:12
Type number:6

Median value is 5.
```

In [9]:
nr1 = int(input('Type first number: '))
nr2 = int(input('Type second number: '))
nr3 = int(input('Type third number: '))
if (nr1 > nr2) and (nr2 > nr3):
    med = nr2
elif (nr3 > nr2) and (nr2 > nr1):
    med = nr2
elif (nr1 > nr3) and (nr3 > nr2):
    med = nr3
elif (nr2 > nr3) and (nr3 > nr1):
    med = nr3
elif (nr2 > nr1) and (nr1 > nr3):
    med = nr1
elif (nr3 > nr1) and (nr1 > nr2):
    med = nr1
print('Median value is {0}.'.format(med))

Type first number: 72
Type second number: 7
Type third number: 12
Median value is 12.

# 10. Using `break` and `continue` statements, print numbers
1. Ask user for their favourite number 
2. If youser chose number 13, ask user for another number
3. Do not print number 13
4. Finish printing after user's favourite number

In [10]:
number = int(input('Type your favourite number: '))
nr = 0
if number == 13:
    number = int(input('Type another number: '))
while True:
    if nr != 13:
        print(nr)
        if nr == number:
            break
        nr += 1
    else:
        nr += 1
        continue

Type your favourite number: 21
0
1
2
3
4
5
6
7
8
9
10
11
12
14
15
16
17
18
19
20
21

# BONUS: Using nested loops, print first letter of your name:

```
  ***                                                                   
 *   *                                                                  
 *   *                                                                  
 *****                                                                  
 *   *                                                                  
 *   *                                                                  
 *   *
```

In [11]:
letter = ''
for i in range(1,6):
    for j in range(1,8):
        if (((i == 1) or (i == 2) or (i == 3)) and ((j == 1) or (j == 5))) or ((i == 4) and ((j == 2) or (j == 4))) or ((i == 5) and (j == 3)):
            letter = letter + '*'
        else:
            letter = letter + ' '
    letter = letter + '\n'
print(letter)

*   *
*   *
*   *
 * *
  *